<% content_for :title, 'Website Name' %>


<div class="container">
  <div class="starter-template">
    <% if flash[:notice] %>
      <br><br>

      <p class="lead">
        Thank you for submitting your email. We will keep you posted.
      </p>
    <% else %>
      <p>Sunt barcases transferre fidelis, lotus nomenes.
        Cum ausus persuadere, omnes brodiumes perdere pius, velox indictioes.
        Gratis, nobilis galataes cito desiderium de altus, castus competition.Bi-color musa satis acquireres genetrix
        est.
        Peritus, emeritis zetas velox amor de talis, grandis lactea.
        Cum fluctui persuadere, omnes vigiles imperium mirabilis, albus tumultumquees.</p>

      <%= form_for @email, html: {role: :form} do |f| %>
        <p><%= f.email_field :email_address, placeholder: "Enter your email address here...", class: 'form-control' %></p>

        <p><%= button_tag 'Submit', class: "btn btn-primary" %></p>
      <% end %>

    <% end %>
  </div>


</div>
